@import '~@coreui/icons/css/coreui-icons.css';
@import '~flag-icon-css/css/flag-icon.min.css';

@import '~font-awesome/css/font-awesome.min.css';

@import '~simple-line-icons/css/simple-line-icons.css';
@import './scss/style.scss';
