<div style="padding: 10px; width: 720px; margin: auto;">
    <div style="width: 670px; margin: 5px 0pt; padding: 20px; background-repeat: no-repeat; border: 5px solid #3395D3; background-color: ebfdff;">
        <table style="background-color: rgb(255, 255, 255);" width="100%">
            <tbody>
                <tr>
                    <td style="padding: 20px 30px 5px;">
                        <h2 style="color: rgb(84, 84, 84); margin: 0pt 20px 5px; font-family: Helvetica,Arial,sans-serif; font-size: 18px;">Dear
                            User,
                        </h2>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">Greetings,</p>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">This
                            is One Time Password for Email Verification.&nbsp; Plase Do not share it with anyone!;
                        </p>
                        <h2 style="color: rgb(84, 84, 84); margin: 0pt 20px 5px; font-family: Helvetica,Arial,sans-serif; font-size: 18px;">OTP :
                            <%=otp %>,
                        </h2>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">Thanks,</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>
</div>
