<div style="padding: 10px; width: 720px; margin: auto;">
    <div style="width: 670px; margin: 5px 0pt; padding: 20px; background-repeat: no-repeat; border: 5px solid #3395D3; background-color: ebfdff;">
        <table style="background-color: rgb(255, 255, 255);" width="100%">
            <tbody>
                <tr>
                    <td style="padding: 20px 30px 5px;">
                        <h2 style="color: rgb(84, 84, 84); margin: 0pt 20px 5px; font-family: Helvetica,Arial,sans-serif; font-size: 18px;">Dear
                            User,
                        </h2>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;"> <%=otp %> is the One Time Password (OTP) for your email verification.Use this OTP to complete your registration for 14 days trial version on the Kramaa IoT platform.
                        </p>
                        <h2 style="color: rgb(84, 84, 84); margin: 0pt 20px 5px; font-family: Helvetica,Arial,sans-serif; font-size: 18px;">Please do not share your OTP with anyone. We will never call you to verify your OTP.

                        </h2>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">
                          Yours sincerely, <br/>
                          Kramaa Pte Limited <br/>
                          Customer Support <br/>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>
</div>
