<div style="padding: 10px; width: 720px; margin: auto;">
    <div style="width: 670px; margin: 5px 0pt; padding: 20px; background-repeat: no-repeat; border: 5px solid #3395D3; background-color: ebfdff;">
        <table style="background-color: rgb(255, 255, 255);" width="100%">
            <tbody>
                <tr>
                    <td style="padding: 20px 30px 5px;">
                        <h2 style="color: rgb(84, 84, 84); margin: 0pt 20px 5px; font-family: Helvetica,Arial,sans-serif; font-size: 18px;">Dear
                            User,</h2>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">Greetings,</p>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">Please&nbsp;<a
                                href="<%= link %>">Click here</a><span style="color: rgb(84, 84, 84); font-family: Helvetica, Arial, sans-serif; font-size: 14px;">&nbsp;to
                                Reset your account password.<br />
                                <br /> Please keep your password in secure place. do not share it with anyone.<br />
                            <br /> Thanks,
                        </p>

                        <p style="font-family: Helvetica,Arial,sans-serif; color: rgb(84, 84, 84); margin: 0pt 20px; font-size: 14px; text-align: left; padding: 15px 0px;">mycontract.co</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <p>&nbsp;</p>
</div>